*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    background-color: lightcoral;
    margin-bottom: 3rem;
    padding: 2rem;
}


textarea{
    max-width: 900px;
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem auto;
    padding-bottom: 5.5rem;
    padding-top: 0.5rem;
}

button{
    display: block;
    padding: 1rem;
    background-color: lightcoral;
    border: lightcoral;
    margin:1rem auto;
}

#output{
    max-width: 900px;
    width: 80%;
    height: 10vh;
    margin: 1rem auto;
    padding: 2rem;
    border: 1px solid black;
}

.text{
    max-width: 900px;
    /* margin-left: auto; */
    text-align: center;
    margin-top: 1rem;
}

footer{
    max-width: auto;
    width: 100%;
    text-align: center;
    margin-top: 5rem;
    padding: 2rem;
    background-color: lightcoral;
}

p{
    width: 450px;
    text-align: center;
    margin-top: 1rem;
}