*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    max-width: auto;
    width: 100%;
    text-align: center;
    background-color: lightcoral;
    margin-bottom: 2rem;
    padding: 2rem;
}


textarea{
    max-width: 900px;
    width: 80%;
    display: block;
    margin: auto;
    padding-bottom: 3rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
}

button{
    max-width: 900px;
    display: block;
    margin: auto;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: lightcoral;
    border: lightcoral;
}

#output{
    max-width: 900px;
    width: 80%;
    margin: auto;
    padding: 2rem;
    border: 2px solid black;
}

.text{
    max-width: 900px;
    margin: auto;
    text-align: left;
}

footer{
    max-width: auto;
    width: 100%;
    text-align: center;
    margin: 2rem;
    padding: 3rem;
    background-color: lightcoral;
}

p{
    text-align: center;
    padding: 1rem;
}